
/* this is the big image on the landing page */
.default-hero {
  position: absolute;
  width: 1440px;
  height: 858px;
  left: 0px;
  top: 88px;
}

.form-checkout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  position: relative;
  width: 1160px;
  height: 729px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  gap: 20px;

  position: relative;
  width: 1440px;
  height: 93px;

  background: #FFFFFF;
}



/* HeroLayout1/NavBar */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 32px;
gap: 20px;

position: relative;
width: 1440px;
height: 93px;

/* Grayscale/White */

background: #FFFFFF;


/* HeroLayout2 */


position: relative;
width: 1440px;
height: 858px;



/* Features2x2 */


/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 40px 160px;

position: relative;
width: 1440px;
height: 740px;

/* colors/background/tertiary */

background: #EFF0F0;


/* MarketingFooter */


position: relative;
width: 1440px;
height: 400px;



/* FAQItem */


/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;

position: relative;
width: 1440px;
height: 133px;