
/* this is the big image on the landing page */
.default-hero {
  position: absolute;
  width: 1440px;
  height: 858px;
  left: 0px;
  top: 88px;
}

.form-checkout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  position: relative;
  width: 1160px;
  height: 729px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  gap: 20px;

  position: relative;
  width: 1440px;
  height: 93px;

  background: #FFFFFF;
}



